.zhuangtailan{
    width: 100%;
    height: 0.4rem;
    /*background-image: linear-gradient(90deg,rgb(255,107,35),rgb(224,44,45));*/
    background: pink;
    display: block;
    margin-right: 0.15rem;
    position: relative;
}
/*.xinhao{
    width: 0.4rem;
    height: 0.25rem;
    font-family: iconfont;
    float: left;
    color: black;
    margin-left: 0.15rem;
    margin-top: 0.1rem;
}
.wifi{
    width: 0.4rem;
    height: 0.25rem;
    font-family: iconfont;
    float: left;
    color: black;
    margin-left: 0.01rem;
    margin-top: 0.1rem;
}
.time{
    font-size: 0.2rem;
    padding-top: 0.1rem;
    margin-left: 3.25rem;
}
.baifenbai{
    font-size: 0.2rem;
    margin-left: 6.5rem;
    margin-top: -0.26rem;
}
.dianliang{
    width: 0.39rem;
    height: 0.3rem;
    font-family: iconfont;
    margin-left: 7.12rem;
    position: absolute;
    top: 0.1rem;
}*/

.shangcheng{
    width: 100%;
    height: 1.85rem;
}
.zuojian img{
    width: 0.35rem;
    height: 0.35rem;
    position: absolute;
    left: 0.27rem;
    top: 0.65rem;
}
.shaixuan{
    font-size: 0.48rem;
    color: rgb(141,141,141);
    font-weight: 500;
    position: absolute;
    left: 0.34rem;
    top: 1.15rem;
}
.huitiao{
    width: 7.01rem;
    height: 0.06rem;
    background: rgb(242,242,242);
    position: relative;
    margin: -0.2rem auto 0;
}

.xin{
    width: 100%;
    height: 5rem;
}
.hongdian{
    width: 0.07rem;
    height: 0.07rem;
    border-radius: 0.035rem;
    background: rgb(242,57,57);
    position: absolute;
    left: 0.34rem;
    top: 2.5rem;
}
.chengdian{
    width: 0.07rem;
    height: 0.07rem;
    border-radius: 0.035rem;
    background: rgb(253,104,36);
    position: absolute;
    left: 0.44rem;
    top: 2.5rem;
}
.nin{
    font-size: 0.26rem;
    color:rgb(189,189,189);
    font-weight: 600;
    position: absolute;
    left: 0.66rem;
    top: 2.39rem;
}
.RMB26{
    font-size: 0.24rem;
    color: rgb(202,104,104);
    font-weight: 500;
    position: absolute;
    right: 1.7rem;
    top: 2.49rem;
}
.erliudian{
    font-size: 0.48rem;
    font-weight: 600;
    color: rgb(237,53,53);
    position: absolute;
    right: 0.29rem;
    top: 2.23rem;
}

.yhkhuang{
    width: 6.42rem;
    height: 2.28rem;
    background: rgb(251,210,47);
    position: relative;
    margin: 0.96rem auto 0;
    border-radius: 0.3rem 0.3rem 0 0;
    box-shadow: 0 -0.08rem 0.18rem 0 rgb(255,252,241);
}
.diankuang{
    width: 6.22rem;
    height: 1.85rem;
    position: absolute;
    left: 0.24rem;
    top: 0.34rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.huangdian{
    width: 0.05rem;
    height: 0.05rem;
    border-radius: 0.025rem;
    background: rgb(236,198,44);
    margin-right: 0.28rem;
}
.xieti{
    font-size: 0.5rem;
    color: rgb(255,255,255);
    font-weight: 600;
    font-style: italic;
    position: absolute;
    left: 0.38rem;
    top: 0.37rem;
}
.chenghe{
    width: 0.67rem;
    height: 0.45rem;
    background: rgb(255,186,52);
    border-radius: 0.1rem;
    position: absolute;
    left: 0.38rem;
    top: 1.34rem;
}
.juhe{
    width: 0.47rem;
    height: 0.45rem;
    background: rgb(255,221,83);
    border-radius: 0.1rem;
    position: absolute;
    left: 0.58rem;
    top: 1.34rem;
}
.yitiao{
    width: 0.3rem;
    height: 0.05rem;
    background: rgb(255,255,255);
    border-radius: 0.02rem;
    position: absolute;
    left: 0.085rem;
    top: 0.1rem;
}
.ertiao{
    width: 0.3rem;
    height: 0.05rem;
    background: rgb(255,255,255);
    border-radius: 0.02rem;
    position: absolute;
    left: 0.085rem;
    top: 0.2rem;
}
.santiao{
    width: 0.16rem;
    height: 0.05rem;
    background: rgb(255,255,255);
    border-radius: 0.02rem;
    position: absolute;
    right: 0.085rem;
    top: 0.3rem;
}
.shuziyi{
    font-size: 0.34rem;
    color: rgb(255,255,255);
    font-weight: 600;
    position: absolute;
    left: 1.45rem;
    top: 1.45rem;
}
.shuzier{
    font-size: 0.34rem;
    color: rgb(229,191,41);
    font-weight: 600;
    position: absolute;
    left: 2.77rem;
    top: 1.45rem;
}
.shuzisan{
    font-size: 0.34rem;
    color: rgb(229,191,41);
    font-weight: 600;
    position: absolute;
    left: 4.1rem;
    top: 1.45rem;
}
.shuzisi{
    font-size: 0.34rem;
    color: rgb(255,255,255);
    font-weight: 600;
    position: absolute;
    left: 5.43rem;
    top: 1.45rem;
}
.zhongbu{
    width: 100%;
    height: 1.41rem;
    position: relative;
    background: rgb(252,252,252);
    box-shadow: 0 0.24rem 0.18rem 0 rgb(246,246,246);
}
.yhkfen{
    width: 6.42rem;
    height: 0.91rem;
    background: rgb(251,243,210);
    border-radius: 0 0 0.3rem 0.3rem;
    margin: -1.41rem auto 0;
    position: relative;
}
.zuodian{
    width: 0.09rem;
    height: 0.09rem;
    border-radius: 0.045rem;
    background: rgb(249,246,234);
    position: absolute;
    left: 0.43rem;
    top: 0.42rem;
}
.youdian{
    width: 0.09rem;
    height: 0.09rem;
    border-radius: 0.045rem;
    background: rgb(249,249,249);
    position: absolute;
    left: 0.55rem;
    top: 0.42rem;
}
.name{
    font-size: 0.28rem;
    font-weight: 500;
    color: rgb(249,247,243);
    position: absolute;
    left: 0.75rem;
    top: 0.25rem;
}
.JIEZHI{
    font-size: 0.16rem;
    font-weight: 500;
    color: rgb(247,246,240);
    position: absolute;
    right: 1.14rem;
    top: 0.12rem;
}
.RIQI{
    font-size: 0.16rem;
    font-weight: 500;
    color: rgb(247,246,240);
    position: absolute;
    right: 1.14rem;
    top: 0.29rem;
}
.date{
    font-size: 0.32rem;
    font-weight: 600;
    color: rgb(248,248,248);
    position: absolute;
    right: 0.19rem;
    top: 0.12rem;
}
.qingshiyong{
    font-size: 0.25rem;
    color: rgb(153,148,128);
    font-weight: 600;
    position: absolute;
    left: 1.87rem;
    top: 0.578rem;
}
.zuoyi{
    width: 0.09rem;
    height: 0.09rem;
    border-radius: 0.045rem;
    background: rgb(248,222,177);
    position: absolute;
    left: 1.23rem;
    top: 0.75rem;
}
.zuoer{
    width: 0.09rem;
    height: 0.09rem;
    border-radius: 0.045rem;
    background: rgb(243,181,111);
    position: absolute;
    left: 1.35rem;
    top: 0.75rem;
}
.zuosan{
    width: 0.09rem;
    height: 0.09rem;
    border-radius: 0.045rem;
    background: rgb(237,140,45);
    position: absolute;
    left: 1.47rem;
    top: 0.75rem;
}
.youyi{
    width: 0.09rem;
    height: 0.09rem;
    border-radius: 0.045rem;
    background: rgb(248,222,177);
    position: absolute;
    right: 1.23rem;
    top: 0.75rem;
}
.youer{
    width: 0.09rem;
    height: 0.09rem;
    border-radius: 0.045rem;
    background: rgb(243,181,111);
    position: absolute;
    right: 1.35rem;
    top: 0.75rem;
}
.yousan{
    width: 0.09rem;
    height: 0.09rem;
    border-radius: 0.045rem;
    background: rgb(237,140,45);
    position: absolute;
    right: 1.47rem;
    top: 0.75rem;
}

.dianhe{
    width: 1.72rem;
    height: 0.16rem;
    position: relative;
    display: flex;
    left: 1.7rem;
    top: 1.5rem;
    justify-content: space-between;
}
.huidian{
    width: 0.16rem;
    height: 0.16rem;
    background: rgb(122,125,128);
    border-radius: 0.08rem;
}
.ba{
    font-size: 0.3rem;
    font-weight: 600;
    color: rgb(151,152,153);
    position: relative;
    left: 4.05rem;
    top: 1.23rem;
}
.ganghe{
    width: 4.52rem;
    height: 0.06rem;
    position: relative;
    margin: 1.5rem auto 0;
    display: flex;
    justify-content: space-between;
}
.gang{
    width: 0.57rem;
    height: 0.06rem;
    background: rgb(229,229,229);
}
.gang4{
    width: 0.57rem;
    height: 0.06rem;
    background: rgb(178,178,178);
}

.jianpan img{
    width: 100%;
    /*height: 4.28rem;*/
    position: absolute;
    top: 9.07rem;
}